@font-face {
    font-family: 'minimalregular';
    src: url('minimal-webfont.woff2') format('woff2'),
         url('minimal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}