/*-- headers --*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: 'minimalregular', sans-serif;
    letter-spacing: 1px;
}

.ff-fira {
    font-family: 'fira_sansregular';
}

/*-- Preloader css start --*/
#heart-loader {
    background-color: #fcf5e4;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2147483647;
    width: 100%;
    height: 100%;
}

#heart-loader-img {
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
/*-- //Preloader css start --*/
/*-- header --*/ 
/*-- nav --*/
.header-bar{border-bottom: 1px solid #e1e1e1;}
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
}
.navbar-right {
    margin-right: 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:#ea9478;
    border: 1px solid #fff;
    border-radius: 50px;
    background: #fff;
}
.navbar-default .navbar-nav > .active > a:before{
	background: #ff2d37;
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-o-transform: translateX(0);
	-ms-transform: translateX(0);
}
.navbar-default .navbar-nav > li > a {
	font-weight: 600;
	color:#111111;
	letter-spacing: 2px;
	padding: 5px 14px;
	margin: 0 8px;
	font-size: 13px;
	border:1px solid rgba(255, 255, 255, 0)
}
.navbar-nav > li > a {
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover{
    color:#ea9478;
	    border: 1px solid #fff;
    border-radius: 50px;
    background: #fff;
}
.navbar-default .navbar-nav > li > a:focus {
    color:#ea9478;
	outline:none;
}
nav.navbar.navbar-default {
    background: none;
       padding:1em 0em;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
       color: #262c38;
    background: none;
}
.navbar-nav {
    margin-top: 14px;
}
/*.navbar-default .navbar-nav > li > a {
  */
.navbar-default .navbar-nav  > .active.open > a:focus {
	background:transparent;
	color: #fff;
}
a.navbar-brand {
    padding: 0;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    text-shadow: 2px 2px 0px rgba(74, 76, 76, 0.13);
	line-height: inherit;
}
h1 a.navbar-brand {
    font-size: 56px;
    color: #111111 !important;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}
a.navbar-brand i{
	color:#ff2d37;
}
h1 a.navbar-brand span {
    color:#ea9478;	
}
/*-- //nav --*/
/*-- //header --*/ 

/*-- SLIDER --*/
.wd_slider_wrapper{
    float:left;
    width:100%;
    background:url(../img/home-banner.jpg);
    position:relative;
    background-attachment: fixed;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.wd_overlay{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}
.wd_slider_textinfo{
    float: left;
    width: 100%;
    padding: 150px 0px;
    text-align: center;
    position:relative;
}
.wd_slider_textinfo img{
    display:inline-block;
}
.wd_slider_textinfo h1{
    display: inline-block;
    width: auto;
    font-size: 72px;
    color: #ffffff;
}
.wd_slider_textinfo h1 i{
    color: #ea9478;
}
.wd_slider_textinfo h2{
    display: inline-block;
    width: auto;
    font-size: 52px;
    color: #ffffff;
    margin: 40px 0px;
    padding: 20px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
.wd_slider_textinfo .sub-title{
    float: left;
    width: 100%;
    color: #ffffff;
    font-size: 28px;
    font-family: 'fira_sansregular';
    margin: 0px 0px 20px 0px;
}
.wd_slider_textinfo h3{
    display: inline-block;
    width: auto;
    color: #ffffff;
    text-transform: capitalize;
    font-family: 'fira_sansregular';
    margin: 0px;
    font-size: 28px;
    position: relative;
    height: 60px;
    line-height: 60px;
    z-index: 0;
    padding: 0px 25px;
}
.wd_slider_textinfo h3:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 51%;
	background: #ea9478;
	z-index:-1;
	-webkit-transform: skew(0deg, 0deg);
    -moz-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
}
.wd_slider_textinfo h3:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: #ea9478;
    z-index:-1;
    -webkit-transform: skew(0deg, 0deg);
    -moz-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
}
/*-- END SLIDER --*/
.wd_heading{
    float:left;
    width:100%;
    margin-bottom:60px;
    text-align:center;
    text-transform:uppercase;
}
.wd_heading h2{
    float:left;
    width:100%;
    margin:0px;
    font-size:55px;
    text-transform:capitalize;
    margin-bottom: 10px;
}
.wd_heading img{
    display:inline-block;
}
/*-- GROOM AND BRIDE SECTION --*/
.wd_about_wrapper{
    float:left;
    width:100%;
    background-color:#ffffff;
    background-attachment: fixed;
    background-position: center center;
}
.wd_about_infobox{
    float:left;
    width:100%;
    margin-bottom: 40px;
    padding: 30px;
    background-color: #f8f8f8;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.wd_about_infobox.wd_right_side{
    text-align:right;
}
.wd_about_infobox_img{
    float:left;
    width:100%;
    text-align:center;
    margin-bottom:0px;
    position:relative;
    z-index:1;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.wd_about_infobox_img img{
    display:inline-block;
    border: 3px solid #e1e1e1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.wd_about_infobox:hover .wd_about_infobox_img img{
    border: 3px solid #f07677;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.wd_about_infobox:hover .wd_about_infobox_img:after{
    right:-5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.wd_about_infobox_img:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 40px solid #f07677;
    border-bottom: 25px solid transparent;
    top: 50%;
    margin-top: -25px;
    right: 35px;
    z-index: -1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.wd_about_infobox.wd_right_side .wd_about_infobox_img:after{
    display:none;
}
.wd_about_infobox.wd_right_side .wd_about_infobox_img:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 40px solid #f07677;
    border-bottom: 25px solid transparent;
    top: 50%;
    margin-top: -25px;
    left: 35px;
    z-index: -1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.wd_about_infobox.wd_right_side:hover .wd_about_infobox_img:before{
    left:-5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.wd_about_infobox .title-blc{
    float:left;
    width:100%;
    font-size:36px;
    text-transform:capitalize;
    font-family: 'fira_sansregular';
    margin-top: 60px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.wd_about_infobox p{
    float:left;
    width:100%;
}
.wd_about_infobox h2{
    float:left;
    width:auto;
    font-size:30px;
    text-transform:capitalize;
    color:#f07677;
    margin: 10px 20px;
    position:relative;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.wd_about_infobox h2:after{
    content: "~";
    position: absolute;
    top: -1px;
    left: -20px;
    color: #f07677;
    font-size: 50px;
}
.wd_about_infobox.wd_right_side h2{
    float: right;
    margin-left: 40px;
    margin-right: 0;
}
.wd_about_infobox ul{
    float:left;
    width:auto;
    margin:0px;
    padding:0px;
}
.wd_about_infobox.wd_right_side ul{
    float:right;
}
.wd_about_infobox ul li{
    list-style:none;
    display:inline-block;
    width:auto;
    margin:3px;
}
.wd_about_infobox ul li a{
    float:left;
    width:40px;
    height:40px;
    line-height:40px;
    text-align:center;
    color:#000000;
    border:1px solid #e4e4e4;
    background-color:#ffffff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.wd_about_infobox ul li a:hover{
    background-color:#f07677;
    color:#ffffff;
    border:1px solid #f07677;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
/*-- END GROOM AND BRIDE SECTION --*/
/*-- COUNTER --*/
.agileinfo_counter_section {
    background: url(../img/counter.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    padding-top:7em;
    min-height: 400px; text-align: center;
}
/*-- END COUNTER --*/

/*-- TIMELINE --*/
section {
    margin: 4rem 0;
    padding: 2rem 8rem;
    overflow: hidden;
    position: relative;
}

section.section-story ul.timeline {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative
}

section.section-story ul.timeline:before {
    position: absolute;
    content: '';
    display: block;
    width: 1px;
    left: 50%;
    top: 0;
    bottom: 0;
    background-color: rgba(155, 155, 155, .5)
}

section.section-story ul.timeline>li {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    position: relative
}

section.section-story ul.timeline>li:hover .meta .timeline-thumbnail {
    -webkit-filter: contrast(100%);
    -moz-filter: contrast(100%);
    -ms-filter: contrast(100%);
    filter: contrast(100%)
}

section.section-story ul.timeline>li:nth-child(2n) {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse
}

section.section-story ul.timeline>li:nth-child(2n) .meta {
    padding-right: 0;
    padding-left: 4em;
    padding-left: 6vw
}

section.section-story ul.timeline>li:nth-child(2n) .meta .timeline-thumbnail {
    margin-right: 0;
    margin-left: auto;
    position: relative
}

section.section-story ul.timeline>li:nth-child(2n) .meta .date {
    left: 2em;
    left: 6vw;
    right: auto
}

section.section-story ul.timeline>li:nth-child(2n) .desc {
    padding-left: 0;
    padding-right: 4em;
    padding-right: 6vw
}

section.section-story ul.timeline>li+li {
    margin-top: 1em
}

section.section-story ul.timeline>li i.heart {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
    font-size: 30px;
    color: red;
}

section.section-story ul.timeline>li .desc,
section.section-story ul.timeline>li .meta {
    width: 50%
}

section.section-story ul.timeline>li .meta {
    position: relative;
    padding-right: 4em;
    padding-right: 6vw
}

section.section-story ul.timeline>li .meta:before {
    position: absolute;
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: rgba(155, 155, 155, .5);
    top: 50%;
    left: 0
}

section.section-story ul.timeline>li .meta .timeline-thumbnail {
    width: 225px;
    height: 225px;
    width: 18vw;
    height: 18vw;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-position: center center;
    background-size: cover;
    -webkit-filter: contrast(60%);
    -moz-filter: contrast(60%);
    -ms-filter: contrast(60%);
    filter: contrast(60%);
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    transition: all ease .3s
}

section.section-story ul.timeline>li .meta .date {
    font-size: 2em;
    font-size: 3vw;
    font-family: 'Dancing Script', cursive;
    position: absolute;
    top: 50%;
    right: 2em;
    right: 6vw;
    -webkit-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    color: #9B9B9B
}

section.section-story ul.timeline>li .desc {
    overflow: hidden;
    padding-left: 4em;
    padding-left: 6vw
}
/*-- END TIMELINE --*/
/*-- EVENTS --*/
section.section-events ul.event-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 52em;
    max-width: 100%;
    margin: 0 auto
}

section.section-events ul.event-list>li {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch
}

section.section-events ul.event-list>li+li {
    margin-top: 3em;
    padding-top: 3em;
    box-shadow: 0 -1px 0 rgba(155, 155, 155, .3)
}

section.section-events ul.event-list>li .event-thumbnail {
    width: 13em;
    margin-right: 3em;
    background-position: center center;
    background-size: cover
}

section.section-events ul.event-list>li .event-details {
    width: calc(100% - 16em);
    overflow: hidden
}

section.section-events ul.event-list>li .event-details h3 {
    font-family: dancing script, cursive;
    font-size: 1.67em;
    margin: 0
}

section.section-events ul.event-list>li .event-details ul.event-info {
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 1em 0;
    font-size: .9em;
    font-weight: 700;
    line-height: 1.8
}

section.section-events ul.event-list>li .event-details ul.event-info>li span {
    display: inline-block;
    color: #e86c6c;
    width: 2em
}

section.section-events ul.event-list>li .event-details .desc {
    color: #9b9b9b;
    max-width: 100%
}

section.section-events ul.event-list>li .event-details .cta a.btn+a.btn {
    margin-left: 1em
}
/*-- END EVENTS --*/
/*-- GIFTS --*/
section.section-gifts .retailer-list .row+.row {
    margin-top: 2em
}

section.section-gifts .retailer-list .row .retailer-thumbnail {
    border: 1px solid rgba(155, 155, 155, .5);
    height: 100px;
    text-align: center;
    line-height: calc(100px - 2em);
    padding: 1em 2em
}

section.section-gifts .retailer-list .row .retailer-thumbnail>img {
    max-height: 100%
}

section.section-gifts .retailer-list .row .retailer-thumbnail+h4 {
    text-align: center;
    font-weight: 400;
    margin: .5em 0 0;
    font-size: 1em
}
/*-- END GIFTS --*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 26px;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 40px;
    height: 40px;
    border: none;
    text-indent: 100%;
    background: url("../img/arr.png") no-repeat 0px 0px;
    background-size: 40px;
}

#toTopHover {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}


/*-- MEDIA QUERIES --*/
@media only screen and (max-width:991px) {
    .flex-responsive {
        display: block!important
    }
    .flex-responsive>aside,
    .flex-responsive>div,
    .flex-responsive>li,
    .flex-responsive>ul {
        width: 100%!important;
        margin: 0!important
    }
    section.section-events ul.event-list>li .event-details .cta a.btn {
        font-size: .7em;
        letter-spacing: 2px;
        padding: .8em 1.2em
    }
    section.section-events ul.event-list>li .event-thumbnail {
        padding-top: 100%;
        margin-bottom: 1em!important
    }
}

@media(max-width:767px) {
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	    position: absolute;
	    width: 100%;
	    z-index: 999;
	    background: white;
	    padding: 0em 0;
	    margin-top: 0em;
	    z-index: 9999;
	}
	.navbar-brand {
			font-size: .8em;
		}
		.navbar-toggle {
			margin: 0.5em 0 0;
		}
		.navbar-default .navbar-toggle {
	     background: #ea9478;
	    border-radius: 5px;
		}
	.navbar-default .navbar-toggle .icon-bar {
	    background-color: #fff;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	    background:#ea9478;
	}
		.navbar-default .navbar-nav > li > a {
	    text-align: center;
	    padding: 10px 0px;
		}
		ul.nav.navbar-nav {
	    margin: .6em 0;
	}
	.nav > li {
	    width: 131px;
	    margin: 7px auto;
	}
}

@media only screen and (max-width:767px) {
    section.section-events ul.event-list>li .event-details .cta a.btn {
        display: block
    }
    section.section-events ul.event-list>li .event-details .cta a.btn+a.btn {
        margin: 0;
        margin-top: 1em
    }
    section.section-gifts .col-sm-6+.col-sm-6,
    section.section-gifts .retailer-list .row+.row {
        margin-top: 1em
    }
}